<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
  </head>
  <style>
    * {
      font-family: sans-serif;
    }
    ul {
      display: flex;
      flex-direction: column;
    }
  </style>
  <body>
    <h1 class="title">Todo List</h1>
    <ul>
      {% for todo in todos %}
      <li>
        <strong>{{ todo.title }}</strong><br />
        Description: {{ todo.desc }}<br />
        Status: {% if todo.done %}Done{% else %}Not Done{% endif %}<br />
        ID: {{ todo.id }}
        <form action="/todos/{{ todo.id }}" method="DELETE">
          <input type="submit" name="action" value="Delete" />
        </form>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
